.idea/
*.xml
*.iml

__pycache__/

database.db

.cache/

credentials.json
rds_config.py

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

#pytests
test/.cache/v/cache/lastfailed
testStartCapture.py

.coverage
.pytest_cache/
htmlcov
