<div>
  <h1>Replay</h1>
  <div class="row">
    <div class="col-4 center-block">
      <div class="center-block">
        <div class="form-group">
          <label for="replayName">Replay Name</label>
          <input type="text" class="form-control" id="replayName">
        </div>
        <div class="form-group">
          <label for="capture">Capture to Replay</label>
          <select class="form-control" id="capture">
            <option disabled selected value> -- Select Capture --</option>
            <option ng-repeat="capture in captures" value="{{capture}}">{{capture.name}}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="rdsInstance">RDS Instance:</label>
          <select class="form-control" id="rdsInstance" ng-model="rdsInstance"
                  ng-change="authenticateInstance(rdsInstance)">
            <option disabled selected value> -- Select RDS Instance --</option>
            <option ng-repeat="db in RDSInstances" value="{{db}}">{{db.DBInstanceIdentifier}}</option>
          </select>
        </div>
        <div ng-if="rdsInstance != undefined" class="form-group">
          <label for="dbName">Database:</label>
          <select class="form-control" id="dbName">
            <option disabled selected value> -- Select Database --</option>
            <option ng-repeat="db in instanceDbs" value="{{db}}">{{db}}</option>
          </select>
        </div>

        <h5>Replay Mode:</h5>
        <div id="button-bar" class="text-center">
          <div class="btn-group" name="replayMode" data-toggle="buttons">
            <label class="btn btn-primary active">
              <input type="radio" name="replayMode" autocomplete="off" value="replay-raw" checked> Raw
            </label>
            <label class="btn btn-primary">
              <input type="radio" name="replayMode" autocomplete="off" value="replay-time">
              Time-Preserving
            </label>
          </div>
        </div>

        <div class="row">
          <button type="button" ng-click="startReplay()" class="btn center-block btn-success">Replay</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Authentication Modal -->
  <div class="container">
    <div class="modal fade" id="authenticationModal">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Authentication for <b>{{currentRDSInstance}}</b></h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username" ng-model="username" autofocus>
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" ng-model="password">
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal"
                    ng-click="getInstanceDbs(rdsInstance)" id="authenticate">Authenticate
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>