<div>
  <h1>Replay</h1>
  <div class="row">
    <div class="center-block">
      <div class="form-group">
        <label for="replayName">Replay Name</label>
        <input type="text" class="form-control" id="replay-name" aria-describedby="replayName">
      </div>
      <div class="form-group">
        <label for="crBucket">Capture to Replay</label>
        <select class="form-control">
          <option disabled selected value> -- Select Capture -- </option>
          <option ng-repeat="bucket in buckets" value="{{bucket}}">{{bucket}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="metricsBucket">Replay Server</label>
        <select class="form-control" id="replayServer">
          <option disabled selected value> -- Select Server -- </option>
          <option ng-repeat="bucket in buckets" value="{{bucket}}">{{bucket}}</option>
        </select>
      </div>


      <h5>Replay Mode:</h5>
      <div class="btn-group center-block" name="replayMode" data-toggle="buttons">
        <label class="btn btn-primary active">
          <input type="radio" name="mode" autocomplete="off" checked > Raw
        </label>
        <label class="btn btn-primary">
          <input type="radio" name="mode" autocomplete="off"> Time-Preserving
        </label>
      </div>
      <!-- Make sure to rename the name of this mode!!!!  -->
      <h5>Mode:</h5>
      <div id="capture-mode-bar" class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary">
          <input type="radio" name="mode" autocomplete="off" id="capture-int" checked=""> Interactive
        </label>
        <label class="btn btn-primary">
          <input type="radio" name="mode" autocomplete="off" id="capture-time" checked="checked"> Time-Constrained
        </label>
        <label class="btn btn-primary">
          <input type="radio" name="mode" autocomplete="off" id="capture-storage" checked=""> Storage-Constrained
        </label>
      </div>

      <!-- <div class="date-container "> -->
      <div id="date-container" class="row">
        <span>Start Date: <input id="startDate" width="276" /> </span>
        <span>End Date: <input id="endDate" width="276" /> </span>
      </div>
      <div id="time-container" class="row">
        <span>Start Time: <input id="startTime" width="276" /> </span>
        <span>End Time: <input id="endTime" width="276" /> </span>
      </div>

      <!-- storage mode  -->
      <div id="storage-container" placeholder="size" class="row input-group">
        <input type="number" class="form-control">
        <div class="input-group-append">
          <button id="mb-button" class="btn btn-outline-success" type="button" ng-click="setStorageSize('mb-button')">MB</button>
          <button id="gb-button" class="btn btn-outline-success" type="button" ng-click="setStorageSize('gb-button')">GB</button>
        </div>
      </div>
      <div>
        <button type="button" ng-click="startReplay()" class="btn center-block btn-success">Replay</button>
      </div>
    </div>
  </div>
</div>
