#date-container {
  margin-bottom: 20px;
}

#time-container, #storage-container {
  margin-bottom: 20px;
}

.gj-calendar-bootstrap {
  color: black !important;
}

#capture-mode-bar {
  margin-bottom: 10px;
}
