#date-container {
  margin-bottom: 20px;
}

#time-container, #storage-container {
  margin-bottom: 20px;
}

.gj-calendar-bootstrap {
  color: black !important;
}

#capture-mode-bar {
  margin-bottom: 10px;
}

h5 {
  font-weight: 300;
}

.modal-dialog > * {
    color: black;
}

.warning {
    color: #ff493a;
    padding-top: 5px;
}