#date-container {
  margin: auto;
  padding-bottom: 20px;
  padding-left: 15px;
}

#time-container, #storage-container {
  margin: auto;
  padding-bottom: 20px;
  padding-top: 10px;
  padding-left: 15px;
}

.gj-calendar-bootstrap {
  color: black !important;
}

#capture-mode-bar {
  margin-bottom: 30px;
}

h5 {
  font-weight: 300;
}

.modal-dialog > * {
    color: black;
}

.warning {
    color: #ff493a;
    padding-top: 5px;
}

.gj-datepicker-md [role=right-icon], .gj-timepicker-md [role=right-icon] {
  padding-top: 6px;
  padding-right: 10px;
}

.time-date-element {
  margin-right: 20px;
}
