.tableWrapper {
   overflow : scroll;
   max-height: 300px;
   margin-bottom: 100px;
   padding-left: 65px;
   padding-right: 65px;
}

table {
    border: 1px solid white;
    background-color: #111111;
}

.chartWrapper {
    max-width: 800px;
    margin-bottom: 100px;
    padding-left: 150px;
    margin-top: 0px;
    padding-bottom:10px;
}

i {
    color: white
}

h2 {
  font-weight: 300;
}

h4 {
  font-weight: 300;
}
