#progress-block {
  width: 50%;
  /* border: 2px solid; */
}

/* Overwriting the bootstrap progress bar height */
.progress {
  margin-top: 100px;
  height: 70px;
}

.progress-bar {
  height: inherit;
}

.col {
  border: 1px solid red;
}

#progress-button-bar {
  margin-top: 30px;
}


#progress-details-container {
  margin-top: 50px;
}

#test {
  border: 1px solid red;
}

.tile-title {
  font-size: 1.3em;
  letter-spacing: .3em;
  /* border: 1px solid red; */

  text-transform: uppercase;

}

.date-container {
  /* border: 1px solid blue; */
  text-transform: uppercase;
}
.time-container {
  /* border: 1px solid green; */
  font-size: 2em;
  letter-spacing: .01em;
}

.type-container {
  margin-top: 30px;
}

h2 {
  margin-left: 70px;
}

.time-label {
  font-weight: bold;
  text-transform: uppercase;
}

.tile{
  box-shadow: 2px 2px 8px #111111;
  width: 250px;
  border-radius: 10px;
  margin-right: 30px;
  background: #111111;
  /* background: #222222; */
  height: 150px;
  padding: 20px;
  margin-bottom: 30px;
}
