
.chartWrapper {
  max-width: 800px;
  margin: 50px auto;
  padding-left: 10px;
}

body {
  background-color: #333333;
  color: white;
}
.tableWrapper {
    padding-left: 10px;
}

.tableWrapper .table{
    width: 50%;
}

.center-block {
  margin-left: auto;
  margin-right: auto;
}
#my-crt-logo {
  font-size: 1.5em;
  padding-top: 15px;
  padding-bottom:15px;
  text-align: center;
  margin-left:15px;
}
/* This is the 'MyCRT' logo text */
/* a.navbar-brand.text-white {
  padding: 15px;
  padding-left: 50px;
  font-size: 1.7em;
} */
.nav-container {
  /* border: 1px solid blue; */
  position: fixed;
  width: 132px;
  float: left;
  height: 1000px;
  /* background-color: #2A2A2A; */
  background-color: #222222;
}
/* Took out the horizontal nav for now  */
/* .horizontal-nav {
  position: fixed;
  width: 100vw;
  height: 30px;
  border: 1px solid red;
  background-color: RGB(51, 51, 51);
} */

.logout-header {
  height: 30px;
  width: 20px
}

h1 {
  padding: 40px 70px 20px;
}

.myview {
  /* border: 2px solid green; */
  margin-left: 132px;
  height: 100vh;
}

.nav-item {
  /* border: 2px solid green; */
  /* border: 1px solid red; */
  width: 132px;
  padding: 25px;
  font-style: white;
}

.cus-nav-link {
  /* border: 1px solid green; */
  /* margin-left: 10px; */
  font-size: 12px;
}

.cus-nav-link:hover {
  text-decoration: none;
}

.icon-container {
  /* border: 1px solid purple; */
  margin: auto;
  text-align: center;
}

.text-container {
  /* border: 1px solid green; */
  margin-top: 10px;
  text-align: center;
}

.nav-item:hover {
  /* border: 1px solid green; */
  background-color: #111111;
}

.nav-item.active {
  /* border: 1px solid green; */
  background-color: #111111;
}
