<div class="container">
    <div class="card card-container" style="position:absolute; width:100%; height:100%">
        <img id="profile-img" class="profile-img-card" align="middle" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />

        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin">
            <span id="reauth-email" class="reauth-email"></span>
            <input type="password" ng-model="accessKey" class="form-control" placeholder="User Access Key" required autofocus>
            <input type="password" ng-model="secretKey" class="form-control" placeholder="User Secret Key" required>
            <div id="remember" class="checkbox">
            </div>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" ng-click="login()">Sign in</button>
        </form><!-- /form -->
        <a href="#" class="forgot-password">
            Forgot the password?
        </a>
    </div><!-- /card-container -->
</div><!-- /container -->