<div>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Date</th>
          <th>Display</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Capture 1</th>
          <td>01/11/18</td>
          <td><input type="checkbox" ng-model="checkboxModel"></td>
        </tr>
        <tr>
          <th scope="row">Capture 2</th>
          <td>09/1/18</td>
          <td><input type="checkbox" ng-model="checkboxModel"></td>
        </tr>
        <tr>
          <th scope="row">Capture 3</th>
          <td>05/7/18</td>
          <td><input type="checkbox" ng-model="checkboxModel"></td>
        </tr>
      </tbody>
    </table>
</div>