<div>
  <h1>Capture</h1>
  <form name="form">
  <div class="row">
    <div class="center-block">
      <div class="form-group">
        <label for="captureName">Capture Name</label>
        <input type="text" class="form-control" id="captureName" ng-required="required">
      </div>
      <div class="form-group">
        <label for="crBucket">Capture Replay Bucket:</label>
        <select class="form-control" id="crBucket">
          <option disabled selected value> -- Select Bucket -- </option>
          <option ng-repeat="bucket in buckets" value="{{bucket}}">{{bucket}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="metricsBucket">Metrics Bucket:</label>
        <select class="form-control" id="metricsBucket">
          <option disabled selected value> -- Select Bucket -- </option>
          <option ng-repeat="bucket in buckets" value="{{bucket}}">{{bucket}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="dbName">Database:</label>
        <select class="form-control" id="dbName">
          <option disabled selected value> -- Select Database -- </option>
          <option ng-repeat="db in DBConnections" value="{{db.DBInstanceIdentifier}}">{{db.DBInstanceIdentifier}}</option>

        </select>
      </div>

    <h5>Capture Mode:</h5>
    <div id="capture-mode-bar" class="btn-group" data-toggle="buttons">
      <label class="btn btn-primary">
        <input type="radio" name="mode" autocomplete="off" value="interactive" checked=""> Interactive
      </label>
      <label class="btn btn-primary">
        <input type="radio" name="mode" autocomplete="off" value="time" checked="checked"> Time-Constrained
      </label>
      <label class="btn btn-primary">
        <input type="radio" name="mode" autocomplete="off" value="storage" checked=""> Storage-Constrained
      </label>
    </div>

    <div id="date-container" class="row">
      <span>Start Date: <input id="startDate" width="276" /> </span>
      <span>End Date: <input id="endDate" width="276" /> </span>
    </div>
    <div id="time-container" class="row">
      <span>Start Time: <input id="startTime" width="276" /> </span>
      <span>End Time: <input id="endTime" width="276" /> </span>
    </div>

    <!-- storage mode  -->
    <div id="storage-container" placeholder="size" class="row input-group">
  <input type="number" class="form-control">
  <div class="input-group-append">
    <button id="mb-button" class="btn btn-outline-success" type="button" ng-click="setStorageSize('mb-button')">MB</button>
    <button id="gb-button" class="btn btn-outline-success" type="button" ng-click="setStorageSize('gb-button')">GB</button>
  </div>
</div>
    <script>
    var today = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate());
    $('#startDate').datepicker({
      uiLibrary: 'bootstrap4',
      iconsLibrary: 'fontawesome',
      minDate: today,
      maxDate: function () {
        return $('#endDate').val();
      }
    });
    $('#endDate').datepicker({
      uiLibrary: 'bootstrap4',
      iconsLibrary: 'fontawesome',
      minDate: function () {
        return $('#startDate').val();
      }
    });
    $('#startTime').timepicker({
      uiLibrary: 'bootstrap4',
      iconsLibrary: 'fontawesome',
    });
    $('#endTime').timepicker({
      uiLibrary: 'bootstrap4',
      iconsLibrary: 'fontawesome',
    });
    </script>

    <div class="text-center">
      <button type="button" ng-click="startCapture()" class="btn-capture btn btn-success">Capture</button>
    </div>
    </div>
  </div>
  </form>
</div>

