<div>
  <h1 class="text-center">Capture</h1>
  <div class="row">
    <div class="center-block">
      <div class="form-group">
        <label for="crBucket">Capture Replay Bucket:</label>
        <select class="form-control" id="crBucket">
          <option disabled selected value> -- Select Bucket -- </option>
          <option ng-repeat="bucket in buckets" value="{{bucket}}">{{bucket}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="metricsBucket">Metrics Bucket:</label>
        <select class="form-control" id="metricsBucket">
          <option disabled selected value> -- Select Bucket -- </option>
          <option ng-repeat="bucket in buckets" value="{{bucket}}">{{bucket}}</option>
        </select>
      </div>

      <div class="form-group text-center">
        <label for="dbSelect">Database:</label>
        <select class="form-control" id="dbSelect">
          <option disabled selected value> -- Select Database -- </option>
          <option ng-repeat="db in DBConnections" value="{{db.id}}">{{db.DBInstanceIdentifier}}</option>
        </select>
        <button type="button" class="text-center btn btn-warning" ng-click="open()" style="display: inline-block;">Add DB Connection</button>
      </div>

      <h5>Capture Mode:</h5>
      <div class="btn-group" name="captureMode" data-toggle="buttons" ng-click="checkRadioButtons()" style="margin-bottom: 10px;">
        <label class="btn btn-primary active">
          <input type="radio" name="mode" autocomplete="off" checked > Interactive
        </label>
        <label class="btn btn-primary">
          <input type="radio" name="mode" autocomplete="off"> Time-Constrained
        </label>
        <label class="btn btn-primary">
          <input type="radio" name="mode" autocomplete="off"> Storage-Constrained
        </label>
      </div>
      <div class="text-center">
        <button type="button" ng-click="startCapture()" class="btn btn-success" >Capture</button>
      </div>
    </div>
  </div>
</div>
